.MegaMenuBar {
    .LogoText {
        font-size: 35px;
        color: #001439;
        //font-weight: 600;
        padding-left: 15px;
    }
    .MainIcon {
        color: #001439;
        padding: 30px;
        &:hover {
            background-color: transparent;
        }
    }
    background-color: #d9d9d9;
    .Elements {
        display: flex;

        justify-content: space-between;
        flex-direction: row;
        min-height: 300px;
        padding-left: 15px;
        padding-right: 15px;

        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid #f68633;
        .Column {
            > div {
                overflow: hidden;
                max-width: 600px;
            }
            .HeaderText {
                color: #001439;
                font-weight: 600;
                font-size: 24px;
                padding-bottom: 10px;
                overflow: hidden;
            }
            .LinkText {
                overflow: hidden;
                color: #001439;
                font-size: 18px;
                padding-bottom: 5px;
                > a,
                a:visited,
                a:hover,
                a:active {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
        .Icon {
            color: #001439;

            &:hover {
                background-color: transparent !important;
            }
        }
        .Icon.is-disabled {
            background-color: transparent !important;
        }
        -moz-transition: height 0.5s;
        -ms-transition: height 0.5s;
        -o-transition: height 0.5s;
        -webkit-transition: height 0.5s;
        transition: height 0.5s;
    }
}
